{% block masthead %}
    <div class="wrapper">
        <div class="masthead">
            <span class="title">
                {{post.title}}
            </span>
            <br>
            {% if post.image %}
                <img class="post-image" src="/images/{{post.image}}" alt="{{post.program}} Logo">
                <br>
            {% endif %}
            <span class="byline">by {{post.author}}</span>
            <br>
            <span class="date">{{post.date}}</span>
            {% if config.show_categories and post.categories|length > 0 %}
                <br>
                <span class="categories">
                    Categories: 
                    {% for c in post.categories|sort %}
                        <a href="/category/{{c}}">{{c|capitalize}},</a>
                    {% endfor %}
                </span>
            {% endif %}
            {% if config.show_tags and post.tags|length > 0 %}
                <br>
                <span class="tags">
                    Tagged: 
                    {% for t in post.tags|sort %}
                        <a href="/tag/{{t}}">{{t|capitalize}},</a>
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
{% endblock masthead %}
<article class="post">
    {{post.content|safe}}
    <br>
    <br>

    {% if config.facebook_share_buttons or config.twitter_share_buttons %}
        <!--Share buttons-->
        <div class="social-buttons">
            <a href="https://twitter.com/share" class="twitter-share-button"
                data-url="{{post.link|safe}}" data-text="Check out: {{post.title|safe}} - " data-via="{{config.twitter_handle}}">Tweet</a>
            {% if config.twitter_share_buttons %}
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <a href="https://twitter.com/{{config.twitter_handle}}" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @{{config.twitter_handle}}</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            {% endif %}
            {% if config.facebook_share_buttons %}
                <div class="fb-like" data-href="{{post.link|safe}}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            {% endif %}
        </div>
    {% endif %}
    {% if config.use_disqus_comments %}
        <!-- Disqus Comments -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{config.disqus_shortname}}';
            var disqus_identifier = '{{post.name}}';
            var disqus_url = '{{post.link}}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    {% endif %}
</article>

